#content {
	text-align: center;
}

/********* Classes *********/
.bug-green {
	background-color: #84DF00;
}
.bug-white {
	background-color: #FFFFFF;
}
.bug-red {
	background-color: #FF0066;
}
.bug-buttons {
	position: absolute;
	height: 30px;
	width: 80px;
	border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
	box-shadow: inset -1px -1px 1px 1px #BBBBBB;
                -webkit-box-shadow: inset -1px -1px 1px 1px #BBBBBB;
}

/********* Containers and Buttons *********/
#bug-box {
	position: relative;
	margin: 75px auto;
	width: 400px;
}
#bug-button-up {
	top: -50px;
	left: 160px;
}
#bug-button-up:active {
	box-shadow: -1px -1px 1px 1px #BBBBBB;
                -webkit-box-shadow: -1px -1px 1px 1px #BBBBBB;
}
#bug-button-up:active ~ #bug-cage {
	box-shadow: inset -2px 2px 2px 2px #CCCCCC;
		-webkit-box-shadow: inset -2px 2px 2px 2px #CCCCCC;
	transform:rotateX(180deg);
		-moz-transform:rotateX(180deg);
		-webkit-transform:rotateX(180deg);
}
#bug-button-down {
        bottom: -50px;
        left: 160px;
}
#bug-button-down:active {
        box-shadow: -1px -1px 1px 1px #BBBBBB;
                -webkit-box-shadow: -1px -1px 1px 1px #BBBBBB;
}
#bug-button-down:active ~ #bug-cage {
        box-shadow: inset -2px 2px 2px 2px #CCCCCC;
		-webkit-box-shadow: inset -2px 2px 2px 2px #CCCCCC;
        transform:rotateX(-180deg);
                -moz-transform:rotateX(-180deg);
                -webkit-transform:rotateX(-180deg);
}
#bug-button-left {
	left: 0;
	bottom: 50%;
	box-shadow: 1px -1px 1px 1px #BBBBBB;
                -webkit-box-shadow: 1px -1px 1px 1px #BBBBBB;
        transform:rotate(90deg);
                -moz-transform:rotate(90deg);
                -webkit-transform:rotate(90deg);
}
#bug-button-left:active {
        box-shadow: inset 1px -1px 1px 1px #BBBBBB;
                -webkit-box-shadow: inset 1px -1px 1px 1px #BBBBBB;
}
#bug-button-left:active ~ #bug-cage {
	box-shadow: inset 2px -2px 2px 2px #CCCCCC;
                -webkit-box-shadow: inset 2px -2px 2px 2px #CCCCCC;
        transform:rotateY(-180deg);
                -moz-transform:rotateY(-180deg);
                -webkit-transform:rotateY(-180deg);
}
#bug-button-right {
	right: 0;
        bottom: 50%;
	box-shadow: inset -1px 1px 1px 1px #BBBBBB;
                -webkit-box-shadow: inset -1px 1px 1px 1px #BBBBBB;
        transform:rotate(90deg);
                -moz-transform:rotate(90deg);
                -webkit-transform:rotate(90deg);
}
#bug-button-right:active {
        box-shadow: -1px 1px 1px 1px #BBBBBB;
                -webkit-box-shadow: -1px 1px 1px 1px #BBBBBB;
}
#bug-button-right:active ~ #bug-cage {
	box-shadow: inset 2px -2px 2px 2px #CCCCCC;
                -webkit-box-shadow: inset 2px -2px 2px 2px #CCCCCC;
        transform:rotateY(180deg);
                -moz-transform:rotateY(180deg);
                -webkit-transform:rotateY(180deg);
}
#bug-cage {
	margin: 0 auto;
	padding: 50px 0;
	width: 250px;
	box-shadow: inset -2px -2px 2px 2px #CCCCCC;
		-webkit-box-shadow: inset -2px -2px 2px 2px #CCCCCC;
	border-radius: 25px;
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
	transition: all 3s ease;
                -moz-transition: all 3s ease;
                -webkit-transition: all 3s ease;
                -o-transition: all 3s ease;
}

/********* Bugdroid *********/

#bugdroid {
}
#bug-head {
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 50px;
	z-index: 2;
}
#bug-head:hover {
	cursor: none;
}
#bug-left-ear {
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 5;
	border-radius: 50% 0 0 0;
		-moz-border-radius: 50% 0 0 0;
                -webkit-border-radius: 50% 0 0 0;
}
#bug-left-ear:hover ~ #bug-face {
	left: -5px;
	transform:rotate(-10deg);
		-moz-transform:rotate(-10deg);
		-webkit-transform:rotate(-10deg);
		-o-transform:rotate(-10deg);
		-ms-transform:rotate(-10deg);
}
#bug-face {
	position: absolute;
	width: 100px;
	height: 50px;
	left: 0px;
	border-radius: 50px 50px 0 0;
		-webkit-border-radius: 50px 50px 0 0;
		-moz-border-radius: 50px 50px 0 0;
	transition: all 1s ease;
		-moz-transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
}
#bug-right-ear {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0px;
	z-index: 5;
	border-radius: 0 50% 0 0;
		-moz-border-radius: 0 50% 0 0;
		-webkit-border-radius: 0 50% 0 0;
}
#bug-right-ear:hover ~ #bug-face {
	left: 5px;
        transform:rotate(10deg);
                -moz-transform:rotate(10deg);
                -webkit-transform:rotate(10deg);
                -o-transform:rotate(10deg);
                -ms-transform:rotate(10deg);
}

#bug-left-eye {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 15px;
	left: 25px;
	z-index: 3;
	border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
}
#bug-right-eye {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 15px;
	right: 25px;
	z-index: 3;
	border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
}	
#bug-left-antenna {
	position: absolute;
	width: 8px;
	height: 50px;
	left: 25px;
	bottom: 25px;
	transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
}	
#bug-right-antenna {
	position: absolute;
	width: 8px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	z-index: 1;
	transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
}
#bug-neck {
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 5px;
	z-index: 1;
}
#bug-body {
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 80px;
	border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		-webkit-border-radius: 0 0 10px 10px;
}
#bug-ribs {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 48px;
	z-index: 1;
}
#bug-ribs:hover {
	cursor: none;
}
#bug-ribs:hover > #bug-heart{
	width: 100%;
	height: 100%;
	opacity: 1;
}
#bug-heart {
	position: relative;
	margin: 0 auto;
	top: 10%;
	right: -10%;
	height: 0%;
	width: 0%;
	opacity: 0;
	transition: all 2s ease-in;
		-moz-transition: all 2s ease-in;
		-webkit-transition: all 2s ease-in;
		-o-transition: all 2s ease-in;
}
#bug-left-atrium {
	position: absolute;
	height: 50%;
	width: 50%;
	border-radius: 50% 50% 0 0;
		-moz-border-radius: 50% 50% 0 0;
		-webkit-border-radius: 50% 50% 0 0;
	transform:rotate(-45deg);
                -moz-transform:rotate(-45deg);
                -webkit-transform:rotate(-45deg);
                -o-transform:rotate(-45deg);
                -ms-transform:rotate(-45deg);
}
#bug-right-atrium {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	border-radius: 50% 50% 0 0;
		-moz-border-radius: 50% 50% 0 0;
		-webkit-border-radius: 50% 50% 0 0;
	transform:rotate(45deg);
                -moz-transform:rotate(45deg);
                -webkit-transform:rotate(45deg);
                -o-transform:rotate(45deg);
                -ms-transform:rotate(45deg);
}
#bug-ventricles {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 25%;
	top: 25%;
	transform:rotate(45deg);
        	-moz-transform:rotate(45deg);
	        -webkit-transform:rotate(45deg);
        	-o-transform:rotate(45deg);
	        -ms-transform:rotate(45deg);

}
#bug-left-arm {
	position: absolute;
	width: 20px;
	height: 60px;
	left: -25px;
	top: 0px;
	transition: all 1s ease;
		-moz-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}
#bug-left-arm:hover {
	cursor: none;
	left: -45px;
	top: -20px;
	transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
}
#bug-right-arm {
	position: absolute;
	width: 20px;
	height: 60px;
	top: 0px;
	right: -25px;
	transition: all 1s ease;
		-moz-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}
#bug-right-arm:hover {
	cursor: none;
	right: -45px;
	top: -20px;
	transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
}
#bug-legs {
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 20px;
}
#bug-left-leg {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 20px;
	transition: height 1s;
		-moz-transition: height 1s;
		-webkit-transition: height 1s;
		-o-transition: height 1s;
	border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		-webkit-border-radius: 0 0 10px 10px;
}
#bug-left-leg:hover {
	cursor: none;
	height: 40px;
}
#bug-right-leg {
	position: absolute;
	width: 20px;
	height: 30px;
	right: 20px;
	transition: height 1s;
		-moz-transition: height 1s;
		-webkit-transition: height 1s;
		-o-transition: height 1s;
	border-radius: 0 0 20px 20px;
		-moz-border-radius: 0 0 20px 20px;
		-webkit-border-radius: 0 0 20px 20px;
}
#bug-right-leg:hover {
	cursor: none;
	height: 40px;
}
